{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<!-- NOM DE LA PAGE-->

<div id="conteneur" class="container-fluid hidden-xs hidden-sm">
    <div class="row">
        <div id="section-id-page">
            <div class="parallax-style section-id-page">
                <div class="pattern">
                    <div class="container-fluid">
                        <p class="nom-de-page" style="padding-top:30px">Le coin des développeurs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REJOIGNEZ LA COMUNAUTE -->

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1" style="padding-top:30px">
            <h3>Rejoignez la communauté des développeurs</h3>
            <p><img src="{{ asset('uploads/custom/images/Logo_Claroline.jpg') }}" width="40%"></br></p>
            <p><strong>Claroline Connect </strong>est un logiciel <strong>libre et gratuit</strong> permettant de déployer facilement une plateforme dédiée à l'apprentissage et au travail
            collaboratif en ligne.</p>
            <p><strong></br>Retrouvez les sources et participez aux développements:</strong></br>
            <a href="https://github.com/claroline/Claroline">https://github.com/claroline/Claroline</a></p>
            <p><strong>Retrouvez les informations sur le développement:</strong><br /><a href="https://github.com/claroline/CoreBundle/blob/master/Resources/doc/index.md">https://github.com/claroline/CoreBundle/blob/master/Resources/doc/index.md</a></p>
            <p><strong>Discussions entre Dev:</strong><br /><a href="https://groups.google.com/forum/?hl=fr#!forum/claro-devs">https://groups.google.com/forum/?hl=fr#!forum/claro-devs</a></p>
            <p><strong>Exemple de Configuration utilisée sur le serveur de Lyon1</br>
            (8000 utilisateurs en test au 01 juin 2015 <a href="http://claco.univ-lyon1.fr">http://claco.univ-lyon1.fr</a>)</strong></p>
            <p>Configuration de ce serveur installée sur :<br /><strong>Frontal web / php / symfony :</strong>
            </br>Machine Virtuelle ubutu 12.04 / 4 vCPUs / 3 GB RAM<br />nginx / php5-fpm (5.5)
            </br>stockage SAN 100 GB</p>
            <p><strong>Serveur mysql :</strong><br />Machine Virtuelle ubutu 12.04 / 4 vCPUs / 3 GB RAM
            </br>mariaDB 5.5.32</p>
            <p><strong>Retrouvez les développeurs aux Journées Claroline Connect:</strong>
            </br>
            <a href="http://accu2015.univ-st-etienne.fr/" target="_blank">http://accu2015.univ-st-etienne.fr</p>
            <div><img class="img-responsive" src="http://ujm-wp-network.univ-st-etienne.fr/accu2015/files/2015/02/cropped-BANDEAU-WEB-ACCU3.jpg"
            alt="Accu 2015 | Un site utilisant Réseau UJM &ndash; Ferme &ndash; Wordpress" width="527" height="151"></a>
            <div class="clearfix"><p><a href="http://accu2015.univ-st-etienne.fr/" target="_blank">Accu 2015 | Un site utilisant Réseau UJM &ndash; Ferme &ndash; Wordpress</a></p></div>
            <div class="clearfix"><p>Cette 10ème conférence annuelle des utilisateurs est une occasion unique de rencontrer des utilisateurs et des développeurs, de partager avec eux
            expériences et réalisations, et de discuter ensemble des futures versions de Claroline Connect.</p></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1" style="padding-top:30px">
            <h3>La "road map" des développements</h3>
            <h4>Version 7 (prévue pour mai 2016)</h4>
            <p>On y trouvera :</p>
            <ul>
                <li>Une refonte complète de l'outil d'exercices autocorrigé avec l'objectif de le rendre plus interactif et d'ajouter plusieurs types d'exercices</li>
                <li>Beaucoup de fonctionnalités pour la gestion administrative des formations: gestion des catalogues de formations, des inscriptions, gestion des ressources (locaux, matériel,...)</li>
                <li>Une refonte complète de l'outil d'exercices auto-corrigés avec l'objectif de le rendre plus interactif et utilisable en mode déconnecté (fonction qui arrivera
                    probablement seulement dans une version 7.x)</li>
                <li>L'amélioration du suivi des parcours d'activités pédagogiques et une meilleure intégration graphique des exercices au sein des parcours</li>
                <li>L'ajout d'un plugin de chat texte / audio et vidéo permettant notamment d'organiser des webinaires et des classes virtuelles</li>
                <li>Une première version de la connexion "inter-Claroline" appelée plateformes amies permettant des échanges entre plusieurs plateformes Claroline Connect.</li>
                <li>Enfin, un effort important est fait pour rendre la plateforme encore plus stable et robuste (avec une gestion intégrée des erreurs et du suivi des problèmes
                    utilisateurs via un système de ticketing de support intégré permettant de facilement nous remonter un bug signalé par un utilisateur de la plateforme)</li>
            </ul>
            <h4>Version 7.1 (prévue pour septembre 2016)</h4>
            <p>On y trouvera :</p>
            <ul>
                <li>Les exercices disponibles en mode déconnecté</li>
                <li>L'amélioration du suivi des utilisateurs via un système de tableau de bord permettant de suivre un utilisateur ou un groupe d'utilisateurs de façon centralisée</li>
                <li>Une série d'améliorations ergonomiques et notamment le respect des normes d'accessibilité pour les malvoyants ( WCGA 2.0 - RGAA 3.0)</li>
                <li>Des parcours depuis les objectifs d'apprentissage</li>
            </ul>
            <h4>Version 8 (prévue pour mai 2017)</h4>
            <p>On y trouvera :</p>
            <ul>
                <li>Une majoruté de la plateforme disponible en mode déconnecté</li>
                <li>Une version améliorée de la connexion inter-plateformes</li>
            </ul>
        </div>
    </div>

    <div id="scroll-to-top">
		<span>
			<i class="fa fa-arrow-up"></i>
		</span>
    </div>

    <!-- PIED DE PAGE -->

    {% block footer %}
        {% render controller('ClarolineCoreBundle:Layout:footer') %}
    {% endblock%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.js.html.twig' %}

    <script type="text/javascript">
        $('#mailForm').submit(function(event) {
            event.preventDefault();
            var form = $(event.target);
            var route = form.attr('action');
            var data = $(this).serialize();
            $.ajax({
                type: "POST",
                url: route,
                data: data,
                success: function (data) {
                    $('#contactSuccess').removeClass('hidden');
                }
            });
        });
    </script>
{% endblock %}
