{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block content %}

<div id="section-id-page" style="margin-top: 30px">
    <div class="parallax-style section-id-page">
        <div class="pattern">
            <div class="container-fluid">
                <p class="nom-de-page" style="padding-top:30px">Téléchargement</p>
            </div>
        </div>
    </div>
</div>
<div id="conteneur" class="container-fluid site-text">
    <div class="row">
        <div class="col-md-10 colsdm-offset-1 col-lg-10 col-lg-offset-1">
            <section id="about">
                <div class="white-bg about-us-section" style="margin: 10px 10px 10px 10px">
                    <div class="sec-head-container">
                        <div class="sec-head-style">
                            <h3 class="section-title wow bounceInDown">
                                <span>Téléchargement et planning</span>
                            </h3>
                            <div class="section-description"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="col-md-6 col-lg-6">
                <h3>Téléchargement et installation</h3>
                <h4>Claroline Connect 16.05</h4>
                <p>La version 16.05 de Claroline Connect est sortie ce 31 mai 2016. Nous vous conseillons de ne l'utiliser en production quu'à partir des versions 16.05.x qui auront pu bénéficier de
                    corrections de bugs.</p>
                <p>Nous vous recommandons de ne procéder à la mise à jour de la version 5 vers la version 16.05 que d'ici le 15 juin.</p>
                <p>Un <a href="http://localhost/claroline/web/app_dev.php/resource/open/claroline_forum/2016" target="blank">forum</a> est disponible. Le manuel utilisateur va être adapté au plus vite</p>
                <h5>Installation à partir d'un fichier archive</h5>
                <p>Pour chaque version de la plateforme, les ressources (sources pré-extraites, database dump, etc.) sont disponibles à l'adresse <a href="http://packages.claroline.net/releases" target="blank">packages.claroline.net/releases</a>.</p>
                <p>Le moyen le plus rapide pour démarrer est de taper les commandes suivantes dans un terminal:</p>
                <ul>
                    <li><code>curl packages.claroline.net/releases/latest/claroline-6.x.x-dev.tar.gz | tar xzv</code></li>
                    <li><code>cd claroline-6.x.x-dev</code></li>
                    <li><code>php scripts/configure.php</code></li>
                    <li><code>composer fast-install</code></li>
                </ul>
                <h5>Installation depuis la source</h5>
                <p>La procédure d'installation comprend différentes étapes à exécuter dans l'ordre (extraire les fichiers php source, installer les dépendances, créer la base de données, etc.).
                A l'exception de l'étape de configuration, le processus est entièrement géré par des scripts composer qui sont listés dans le fichier <a href="https://github.com/claroline/Claroline/blob/master/composer.json" target="_blank">composer.json</a>.</p>
                <p>Pour une nouvelle installation, les commandes sont</p>
                <ul>
                    <li><code>git clone http://github.com/claroline/Claroline</code></li>
                    <li><code>cd Claroline</code></li>
                    <li><code>php scripts/configure.php</code></li>
                    <li><code>composer sync-dev</code></li>
                </ul>
                <h5>Mise à jour</h5>
                <p>Pour mettre à jour une installation de développement, il faut simplement charger les derniers changements du répertoire et utiliser le script <code>sync-dev</code>:</p>
                <ul>
                    <li><code>git pull</code></li>
                    <li><code>composer sync-dev</code></li>
                </ul>
                {#<ul>#}
                    {#<li>À la différence de Claroline 1.x, Claroline Connect requiert une version de PHP supérieure ou égale à 5.5.x.</li>#}
                    {#<li>Le système de gestion des plug-ins est lui encore en version béta et peut poser certains problèmes.</li>#}
                    {#<li>Configuration du php.ini :</li>#}
                    {#<li> variable memory_limit doit être à au moins 512M (pour l'installation et les mise à jour), voire idéalement à 1024M.</li>#}
                    {#<li> max_execution_time doit être à au moins 1200 pour l'installation de la version full. Ensuite, vous pouvez à nouveau le diminuer.</li>#}
                {#</ul>#}
            </div>
            <div class="col-md-6 col-lg-6">
                <h3>Planning de développement</h3>
                <h4>Les nouveautés présentes dans la version 16.05</h4>
                <ul>
                    <li>Refonte de la gestion des utilisateurs</li>
                    <li>Refonte du profil à facette</li>
                    <li>Première version des catalogues de formation (gestion des cursus)</li>
                    <li>Gestion des réservations</li>
                    <li>e-Portfolio</li>
                    <li>Refonte des exercices</li>
                    <li>Etape bloquante dans les parcours d'apprentissage</li>
                    <li>Amélioration du collecticiel</li>
                    <li>Système de tags</li>
                    <li>Gestion des réservations</li>
                    <li>Gestion des présences</li>
                </ul>
                <h4>Nouveautés expérimentales</h4>
                <ul>
                    <li>Ressource flashcard</li>
                    <li>Chat texte, audio, vidéo</li>
                    <li>Gestion des présences</li>
                    <li>Gestion des organisations</li>
                    <li>Quelques améliorations ergonomiques</li>
                </ul>
                <h4>Une nouvelle branche 16.09 rassemble les développements futurs</h4>
                <p>La prochaine version majeure du noyau est prévue pour septembre 2016. Au menu:</p>
                <ul>
                    <li>Refonte de l'interface du gestionnaire de ressources</li>
                    <li>Amélioration générale de l'ergonomie</li>
                    <li>Réorganisation des outils d'administration</li>
                </ul>
                <p>Pour les plug-ins, d'autres évolutions sont en cours et s'ajouteront dans les mois à venir:</p>
                <ul>
                    <li>Parcours conditionnel</li>
                    <li>Journal de classe</li>
                    <li>Bulletin</li>
                    <li>Gestion des tags</li>
                    <li>Intégration avec Etherpad et Ethercalc</li>
                    <li>Intégration avec OwnCloud</li>
                </ul>
                <h4>Pour installer la version de développement</4>
                <h5>Vous aurez besoin d'au moins:</h5>
                <ul>
                    <li>PHP >= 5.5 avec les extensions suivantes:</li>
                        <ul>
                            <li>curl</li>
                            <li>fileinfo</li>
                            <li><a href="http://www.php.net/manual/en/book.image.php" target="_blank">gd</a></li>
                            <li>intl</li>
                            <li>mcrypt</li>
                            <li><a href="http://ffmpeg-php.sourceforge.net/" target="_blank">ffmpeg</a> (optionnel)</li>
                            <li>zip archive</li>
                            <li>json</li>
                        </ul>
                    <li>MySQL/MariaDB >=5.0 et < 5.7</li>
                    <li>Une version récente de <a href="https://getcomposer.org/" target="_blank">composer</a></li>
                    <li><a href="https://nodejs.org/" target="_blank">node.js</a> >= 5.5</li>
                    <li><a href="https://docs.npmjs.com/" target="_blank">npm</a> >= 3.7</li>
                    <li></li>
                </ul>
                <p>Il est vivement recommandé d'utiliser un environnement de type UNIX.</p>
            </div>
        </div>
    </div>
</div>

<!-- FIN DE LA VERSION 1 DE CLAROLINE -->

<div id="conteneur" class="container-fluid site-text" style="margin-top: 25px">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-offset-2 col-lg-8">
            <h3 style="text-align: center">La version 1.x de Claroline n'est plus maintenue</h3>
            <p style="text-align: center"><img src="{{ asset('uploads/custom/images/claro1.png') }}" width="150"></p>
            <p>Tous nos efforts sont tournés vers le développement de Claroline Connect. Nous n'investissons dès lors plus dans le développement de l’ancienne version de Claroline.
            La plateforme de support aux utilisateurs campus.claroline.net, ainsi que la messagerie support@claroline.net ont par conséquent été supprimées.</p>
            <p>Dernières mises à jour:</p>
            <p><strong>Correctif de la mise à jour Claroline 1.11.10 (2014-02-28)</strong></p>
            <p>Un correctif d’erreur pour le téléchargement de la version Claroline 1.11.10 corrige un problème dans l’outil de parcours pédagogique.</p>
            <p>L’ARCHIVE COMPLÈTE est disponible via :</p>
            <ul>
                <li><a href="http://sourceforge.net/projects/claroline/files/Claroline/Claroline_1.11.10/claroline-1.11.10-1.zip/download" target="blank">zip</a></li>
                <li><a href="http://sourceforge.net/projects/claroline/files/Claroline_Unstable/Claroline-1.12.0-alpha2/claroline-1.12.0-alpha2.tar.gz/download" target="blank">tar.gz</a></li>
            </ul>
            <p>Pour tous ceux qui téléchargent la version 1.11.10, le correctif est déjà inclus dans la plateforme.</p>
            <p><strong>Mise à jour Claroline 1.12 (alpha2) est disponible en test (2014-02-18)</strong></p>
            <p>Les informations concernant ces mises à jour se trouvent sur <a href="http://forum.claroline.net/" target="blank">les forums.</p>
            <p>La mise à jour de la version alpha de Claroline 1.12 est disponible en <a href="https://sourceforge.net/projects/claroline/files/Claroline_Unstable/Claroline-1.12.0-alpha2/" target="blank">version de test</a>.</p>
            <p>ATTENTION : Cette release est une version test et n’est pas encore adaptée à la production !</p>
            <p><a href="http://sourceforge.net/projects/claroline/files/Claroline_Unstable/Claroline-1.12.0-alpha2/claroline-1.12.0-alpha2.zip/download" target="blank">zip archive (Windows and Mac OS X)</a></p>
            <p><a href="http://sourceforge.net/projects/claroline/files/Claroline_Unstable/Claroline-1.12.0-alpha2/claroline-1.12.0-alpha2.tar.gz/download" target="blank">tar.gz archive (UNIX, Linux)</a></p>
            <p>Autres versions à télécharger : <a href="http://sourceforge.net/projects/claroline/files/Claroline/" target="blank">Sourceforge</a></p>
            <p>Modules complémentaires: <a href="http://sourceforge.net/projects/claroline-pack/files/?source=navbar" target="blank">Claroline Packages</a></p>
        </div>
    </div>
</div>

<div id="scroll-to-top">
        <span>
            <i class="fa fa-arrow-up"></i>
        </span>
</div>

<!-- PIED DE PAGE -->

    {% block footer %}
        {% render controller('ClarolineCoreBundle:Layout:footer') %}
    {% endblock%}


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
    />

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'ClarolineNetThemeBundle::site_layout.js.html.twig' %}

{% endblock %}